.fixed-nav-bar{
	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 9999;
  	width: 100%;
  	height: 80px;
  	background-color: red;
}


.fixed-nav-bar h1{
	font-family: "proxima-nova", sans-serif;
	color: white;
	text-align: center;
	font-size: 35px;
	line-height:38px;
}


.grid {
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}
.grid li {
	position: relative;
	float: left;
	overflow: hidden;
	width: 16.6666667%; /* Fallback */
	width: -webkit-calc(100% / 3);
	width: calc(100% / 3);
}

.grid li a,
.grid li a img {
	display: block;
	width: 100%;
	cursor: pointer;
}

.grid li a img {
	max-width: 100%;
}


/* Flexbox is used for centering the heading */
.grid li a div {
	position: absolute;
	left: 20px;
	top: 20px;
	right: 20px;
	bottom: 20px;
	background: rgba(71,163,218,0.2);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.grid li a:hover div {
	opacity: 2;
}

.grid li a div h3 {
	width: 100%;
	font-family: "proxima-nova", sans-serif;
	color: white;
	text-transform: uppercase;
	font-size: 1.4em;
	letter-spacing: 2px;
	padding: 0 10px;
}
