<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>BuzzPics</title>
<script src="https://use.typekit.net/bwb3tom.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link type="text/css" rel="stylesheet" href="/static/styles.css"/>
</head>

<body>
	<div class="fixed-nav-bar">
    
    	<h1>BuzzPics</h1>
    
  	</div>  

	{% for image in images %}
		<ul class= "grid">
			<li><a href="{{ image['url'] }}" target="_blank"><img src="{{ image['image'] }}"><div><h3>{{ image['category'] }}</h3></div></a></li>
	  	</ul>
	{% endfor %}
</body>
</html>